<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:daox="http://www.example.org/schema/daox"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.example.org/schema/daox ./daox-1.0.xsd">
	
	<context:annotation-config />

	<bean id="VARCHAR"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField" value="java.sql.Types.VARCHAR" />
	</bean>

	<bean id="CURSOR"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField" value="java.sql.Types.REF_CURSOR" />
	</bean>

	<daox:bean id="sampleProc" query="SYSTEM.some_pkg.my_proc">
		<daox:params>
			<daox:param name="param1" sqltype="VARCHAR" />
			<daox:param name="OUT:p_Message" sqltype="VARCHAR" />
			<daox:param name="OUT:mylist" sqltype="CURSOR"
				mapper="com.project.daox.jdbc.SampleMapper" />
		</daox:params>
	</daox:bean>

</beans>